<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>QUORA POSTS</h1>
    <% for (let post of posts) { %>
        <div class="post">
            <h2 class="username">@<%= post.username %></h2>
            <p class="content"><%= post.content %></p>
            <% let id=post.id %>
            <form action="/posts/<%= id %>">
                <button>Expand</button>
            </form>
            <form action="/posts/<%= id %>/edit">
                <button>Edit</button>
            </form>
                <form action="posts/<%= id %>?_method=DELETE" method="post"> 
                    <button>Delete</button>
                </form>

        </div>
        <br><br>
    <% } %>
    <form action="/posts/new">
        <input type="submit" value="Create Post">
    </form>
</body>
</html>